<mat-card>
  <h2>Register</h2>
  <form [formGroup]="registerForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 formControlName="email"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <mat-placeholder class="placeholder">Enter email</mat-placeholder>
          <div *ngIf="submitted && f.email.errors"
               class="invalid-feedback">
            <div class="errors"
                 *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 type="password"
                 formControlName="password"
                 formControlName="password"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <mat-placeholder class="placeholder">Enter password</mat-placeholder>
          <div *ngIf="submitted && f.password.errors"
               class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading"
              mat-stroked-button>Register</button>
      <div *ngIf="loading"
           class="loadAnimation"></div>
    </div>
  </form>
</mat-card>
