label {
  color: black;
}

mat-card {
  padding-left: 50px;
  padding-right: 50px;
}

button {
  border-radius: 12px;
  color: white;
  background-color: rgba(0, 153, 255, 0.5);
  margin: 10px;
}

.btn {
  text-decoration: inherit;
  color: white;
}

h2 {
  color: white;
}
