<mat-card>
  <h2>Create New User</h2>
  <form [formGroup]="addUserForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 formControlName="email"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.email.errors }"
                 email>
                 <mat-placeholder class="placeholder">Enter email</mat-placeholder>
          <div *ngIf="submitted && controls.email.errors"
               class="invalid-feedback">
            <div class="errors"
                 *ngIf="controls.email.errors.required">Email is required</div>
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 type="password"
                 formControlName="password"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.password.errors }" />
                 <mat-placeholder class="placeholder">Enter password</mat-placeholder>
          <div *ngIf="submitted && controls.password.errors"
               class="invalid-feedback">
            <div *ngIf="controls.password.errors.required">Password is required</div>
            <div *ngIf="controls.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading"
              mat-stroked-button>Create</button>
      <div *ngIf="loading"
           class="loadAnimation"></div>
           <button [disabled]="loading"
                   mat-stroked-button>
                    <a [routerLink]="['/welcome']"
         class="btn btn-link">Cancel</a>
         </button>
    </div>
  </form>
</mat-card>
