<mat-card>
  <h2>Create Table Report</h2>
  <form [formGroup]="createTableReportForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 formControlName="name"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.name.errors }">
          <mat-placeholder class="placeholder">Enter report name</mat-placeholder>
          <div *ngIf="submitted && controls.name.errors"
               class="invalid-feedback">
            <div class="errors"
                 *ngIf="controls.name.errors.required">Name is required</div>
          </div>
        </mat-form-field>
      </div>
    </div>


    <div class="form-group">

      <mat-selection-list [style.overflow]="'auto'"
                          [style.height.px]="'150'"
                          #deviceN
                          (selectionChange)="onSelection($event, deviceN.selectedOptions)">
        <mat-list-option *ngFor="let device of devicesObjects"
                         [value]="device.name">
          {{device.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div class="form-group">
      <p>Choose period</p>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedValue"
                    formControlName="period"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && controls.period.errors }">
          <mat-option [value]="0.25">15 minutes</mat-option>
          <mat-option [value]="0.5">30 minutes</mat-option>
          <mat-option [value]="0.75">45 minutes</mat-option>
          <mat-option [value]="1">1 hour</mat-option>
          <mat-option [value]="2">2 hours</mat-option>
          <mat-option [value]="4">4 hours</mat-option>
          <mat-option [value]="8">8 hours</mat-option>
          <mat-option [value]="12">12 hours</mat-option>
          <mat-option [value]="24">24 hours</mat-option>
        </mat-select>
        <div *ngIf="submitted && controls.period.errors"
             class="invalid-feedback">
          <div class="errors"
               *ngIf="controls.period.errors.required">Period is required</div>
        </div>
      </mat-form-field>
    </div>

    <div class="form-group">
      <p>Offset</p>
      <mat-form-field class="example-full-width">
        <input matInput
               type="number"
               formControlName="offset"
               value="0">
        <mat-placeholder class="placeholder">Enter number</mat-placeholder>
      </mat-form-field>

      <mat-radio-group formControlName="typeOffset">
        <mat-radio-button value="1">hours</mat-radio-button>
        <mat-radio-button value="2">days</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-group">
      <button [disabled]="loading"
              mat-stroked-button>Create</button>
      <div *ngIf="loading"
           class="loadAnimation"></div>
      <button [disabled]="loading"
              mat-stroked-button>
        <a [routerLink]="['/welcome']"
           class="btn btn-link">Cancel</a>
      </button>
    </div>
  </form>
</mat-card>
