label {
  color: black;
}

.mat-list-item-content {
  color: white;
}

.mat-stroked-button {
  border-radius: 12px;
  color: white;
  background-color: rgba(0, 153, 255, 0.5);
  margin: 10px;
}

.btn {
  text-decoration: inherit;
  color: white;
}

.mat-radio-label-content {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}
