<mat-card class="panel">
  <mat-card-content>
    <button class="button"
            mat-raised-button
            [routerLink]="['/welcome']"
            [routerLinkActive]="'active'">Home</button>

    <button class="button"
            mat-raised-button
            *ngIf="this.isLoggedIn"
            [matMenuTriggerFor]="menuDevice">Devices</button>
    <mat-menu #menuDevice="matMenu">
      <button mat-menu-item
              *ngIf="this.isAdmin">
        <div class="text-style"
             [routerLink]="['/devices/add']"
             [routerLinkActive]="'active'">Add</div>
      </button>
      <button mat-menu-item>
        <div class="text-style"
             [routerLink]="['/devices']"
             [routerLinkActive]="'active'">List</div>
      </button>
    </mat-menu>

    <button class="button"
            *ngIf="this.isAdmin"
            mat-raised-button
            [matMenuTriggerFor]="menuUser">Users</button>
    <mat-menu #menuUser="matMenu">
      <button mat-menu-item>
        <div class="text-style"
             [routerLink]="['/users/add']"
             [routerLinkActive]="'active'">Add</div>
      </button>
      <button mat-menu-item>
        <div class="text-style"
             [routerLink]="['/users']"
             [routerLinkActive]="'active'">List</div>
      </button>
    </mat-menu>

    <button class="button"
            *ngIf="this.isLoggedIn"
            mat-raised-button
            [matMenuTriggerFor]="menuTable">Table Reports</button>
    <mat-menu #menuTable="matMenu">
      <button mat-menu-item>
        <div class="text-style"
             [routerLink]="['/tablereports/add']"
             [routerLinkActive]="'active'">Add</div>
      </button>
      <button mat-menu-item>
        <div class="text-style"
             [routerLink]="['/tablereports']"
             [routerLinkActive]="'active'">List</div>
      </button>

    </mat-menu>

    <button class="button"
            *ngIf="this.isLoggedIn"
            mat-raised-button
            [matMenuTriggerFor]="menuChart">Chart Reports</button>
    <mat-menu #menuChart="matMenu">
      <button mat-menu-item>
        <div class="text-style"
             [routerLink]="['/chartreports/add']"
             [routerLinkActive]="'active'">Add</div>
      </button>
      <button mat-menu-item>
        <div class="text-style"
             [routerLink]="['/chartreports']"
             [routerLinkActive]="'active'">List</div>
      </button>

    </mat-menu>


    <button class="button"
            mat-raised-button
            *ngIf="!this.isLoggedIn"
            [routerLink]="['/register']"
            [routerLinkActive]="'active'">Register</button>

    <button class="button"
            mat-raised-button
            *ngIf="!this.isLoggedIn"
            [routerLink]="['/login']"
            [routerLinkActive]="'active'">Login </button>

    <button mat-raised-button
            (click)="this.logOut()"
            id="logoutbtn"
            *ngIf="this.isLoggedIn"
            id="logout">Logout</button>

  </mat-card-content>
</mat-card>
