﻿<mat-card>
  <div>
    <div class="text-center">
      <a href="https://rhythmtraffic.com/">
        <img src="./assets/images/logo5.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </a>
      <h2>{{pageTitle}}</h2>
    </div>

    <div class="text-center">Developed by:</div>
    <div class="text-center">
      <h3>Vanina and Peter</h3>
    </div>
  </div>
</mat-card>
