 
 h2 {
   text-align: center;
   color: white;
 }

 img {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

div {
  color: white;
}
