<div class="container">
  <div class="reports-accordion">
    <mat-card class="reports-table">
      <mat-accordion>
        <div class="animating-width">
          <mat-expansion-panel *ngFor="let report of tableReports"
                               (click)="expand(report)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{report.name}}
              </mat-panel-title>
              <mat-panel-description>
                Report from {{convertToDate(report.startDateInMilliseconds)}} to
                {{convertToDate(report.endDateInMilliseconds)}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table>
              <tr>
                <th>
                  Origin \ Destination
                </th>
                <th *ngFor="let name of devicesNames">
                  {{name}}
                </th>
              </tr>
              <tr *ngFor="let id of devicesIds">
                <td>
                  {{dev_stripped[id]}}
                </td>
                <td *ngFor="let obj of reportResults">
                  {{obj[id]}}
                </td>
              </tr>
            </table>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </mat-card>
  </div>
  <div class="reports-map">
    <mat-card class="reports-map-card">
      <pm-map [selectedDevices]="selectedDevices">
      </pm-map>

    </mat-card>
  </div>
</div>
