table,
th,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #424242;
}

th {
  background-color: rgba(0, 153, 255, 0.5);
  color: white;
}

.reports-table {
  width: 100%;
  height: 100%;
}

.reports-accordion {
  width: 600px;
  float: left;
}

.container {
  width: 100%;
  overflow: hidden;
}

.reports-map {
  margin-left: 620px;
}

.mat-card.reports-map-card.mat-card {
  width: 700px;
  height: 500px;
}

div.map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  width: 500px;
  height: 500px;
}

mat-card.reports-table.mat-card {
  width: 580px
}
