thead {
  color: #337AB7;
}

table.mat-elevation-z8.mat-table {
  text-align: center;
  width: 100%;

}

mat-paginator {

  background-color: rgba(18, 18, 19, 0.8);
}

.mat-cell {
  color: white;
}

.mat-header-cell {
  text-align: center !important;
}

.mat-column-select {
  overflow: initial;
}

.mat-sort-header-button {
  color: white;
}

.mat-paginator-page-size-label {
  color: white;
}

#deletebtn {
  text-align: center;
  background-color: rgb(207, 68, 68);
  color: white;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
