<table mat-table
       [dataSource]="dataSource"
       matSort
       class="mat-elevation-z8">

  <ng-container matColumnDef="email">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Email </th>
    <td mat-cell
        *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- CheckBox-->
  <ng-container matColumnDef="select">
    <th mat-header-cell
        *matHeaderCellDef>

      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>

      <div *ngIf="loading"
           class="loadAnimation"></div>
    </th>
    <td mat-cell
        *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- CheckBox-->
  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let myRowData; columns: displayedColumns"></tr>
</table>
<button id="deletebtn"
        mat-stroked-button
        color="warn"
        (click)="delete()">Delete</button>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons></mat-paginator>
