.nav-link {
  font-size: large;
}

.zeroPanel {
  display: none;
}
.firstPanel {
  background-color: rgb(223, 41, 41);
  margin: auto; 
  width: 15%;
  height: 150%;
  border-radius: 50px 50px;
}

.secondPanel {
  background-color: rgb(255, 203, 49);
  margin: auto;
  width: 15%;
  height: 150%;
  border-radius: 50px 50px;
}

.thirdPanel {
  background-color: rgb(45,201,55);
  margin: auto;
  height: 150%;  
  width: 15%;
  border-radius: 50px 50px;
}

.fourthPanel {
  display: none;
}
