section div:nth-child(1),
section div:nth-child(3) {
  color: rgb(0, 15, 59);
  font-size: 50px;
}

section div:nth-child(1) {
  margin-top: 20px;
}

section div:nth-child(2) {
  width: 50%;
}

mat-card {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  background-color: rgba(192, 192, 192, 0.3);
}

.text {
  text-shadow: 3px 2px grey;
  font-size: 150%;
  text-align: center;
}
