<mat-card>
  <section>
    <img src="./assets/images/error.png">
    <div class=text>
      We are searching for your page...
    </div>
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class=text>
      ... But we can not find it.
    </div>
  </section>
</mat-card>
