<div class="container">
  <div class="reports-accordion">
    <mat-card class="reports-table">
      <mat-accordion>
        <div class="animating-width">
          <mat-expansion-panel *ngFor="let report of chartReports">
            <mat-expansion-panel-header (click)="expand(report);">
              <mat-panel-title>
                {{report.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{report.devices[0].name}} to {{report.devices[1].name}} 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="isExpanded">
              <pm-line-chart [_temp]="temp" [report]="report"></pm-line-chart>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </mat-card>
  </div>
</div>
