<table mat-table
       [dataSource]="dataSource"
       matSort
       class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Name </th>
    <td mat-cell
        *matCellDef="let device">
      <a routerLink="/devices/{{device.id}}"> {{device.name}} </a></td>
  </ng-container>
  <ng-container matColumnDef="longitude">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Longitude </th>
    <td mat-cell
        *matCellDef="let device"> {{device.longitude}} </td>
  </ng-container>
  <ng-container matColumnDef="latitude">
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header> Latitude </th>
    <td mat-cell
        *matCellDef="let device"> {{device.latitude}} </td>
  </ng-container>

  <!-- CheckBox-->
  <ng-container *ngIf="this.isInAdminRole"
                matColumnDef="select">
    <th mat-header-cell
        *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell
        *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- CheckBox-->
  <tr mat-header-row
      *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let myRowData; columns: displayedColumns"></tr>
</table>

<button id="deletebtn"
        mat-stroked-button
        color="warn"
        (click)="delete()">Delete</button>
<div *ngIf="loading"
     class="loadAnimation"></div>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons></mat-paginator>
