<mat-card>
  <h2>Create New Device</h2>
  <form [formGroup]="addDeviceForm"
        (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 formControlName="name"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.name.errors }">
                 <mat-placeholder class="placeholder">Enter device name</mat-placeholder>
          <div *ngIf="submitted && controls.name.errors"
               class="invalid-feedback">
            <div class="errors"
                 *ngIf="controls.name.errors.required">Device name is required</div>
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 type="number"
                 formControlName="longitude"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.longitude.errors }" />
                 <mat-placeholder class="placeholder">Enter longitude</mat-placeholder>
          <div *ngIf="submitted && controls.longitude.errors"
               class="invalid-feedback">
            <div *ngIf="controls.longitude.errors.required">Longitude is required</div>
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 type="number"
                 formControlName="latitude"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.latitude.errors }" />
                 <mat-placeholder class="placeholder">Enter latitude</mat-placeholder>
          <div *ngIf="submitted && controls.latitude.errors"
               class="invalid-feedback">
            <div *ngIf="controls.latitude.errors.required">Latitude is required</div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading"
              mat-stroked-button>Create</button>
      <div *ngIf="loading"
           class="loadAnimation"></div>
      <button [disabled]="loading"
           mat-stroked-button>
      <a [routerLink]="['/welcome']"
         class="btn btn-link">Cancel</a>
      </button>
    </div>
  </form>
</mat-card>
