<mat-card>
  <h2>Create Chart Report</h2>
  <form [formGroup]="createChartReportForm"
        (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="container">
        <mat-form-field>
          <input matInput
                 formControlName="name"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && controls.name.errors }">
          <mat-placeholder class="placeholder">Enter Chart Report name</mat-placeholder>
          <div *ngIf="submitted && controls.name.errors"
               class="invalid-feedback">
            <div class="errors"
                 *ngIf="controls.name.errors.required">Name is required</div>
          </div>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Choose origin"
                    formControlName="origin">
          <mat-option *ngFor="let device of devicesObjects"
                      [value]="device.name">
            {{device.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Choose destination"
                    formControlName="destination">
          <mat-option *ngFor="let device of devicesObjects"
                      [value]="device.name">
            {{device.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <p>Choose period</p>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedValue"
                    formControlName="period"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && controls.period.errors }">
          <mat-option [value]="0.15">15 minutes</mat-option>
          <mat-option [value]="0.30">30 minutes</mat-option>
          <mat-option [value]="0.45">45 minutes</mat-option>
          <mat-option [value]="1">1 hour</mat-option>
          <mat-option [value]="2">2 hours</mat-option>
          <mat-option [value]="4">4 hours</mat-option>
          <mat-option [value]="8">8 hours</mat-option>
          <mat-option [value]="12">12 hours</mat-option>
          <mat-option [value]="24">24 hours</mat-option>
        </mat-select>
        <div *ngIf="submitted && controls.period.errors"
             class="invalid-feedback">
          <div class="errors"
               *ngIf="controls.period.errors.required">Period is required</div>
        </div>
      </mat-form-field>
    </div>


    <div class="form-group">
      <input matInput
             [max]="maxDate"
             [(ngModel)]="date"
             [owlDateTime]="dt2"
             placeholder="Date Time"
             formControlName="dates">
      <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
      <owl-date-time #dt2></owl-date-time>
    </div>

    <div class="form-group">
      <button [disabled]="loading"
              mat-stroked-button>Create</button>
      <button [disabled]="loading"
              mat-stroked-button>
        <a [routerLink]="['/welcome']"
           class="btn btn-link">Cancel</a>
      </button>
    </div>
  </form>
</mat-card>
