<mat-card>
<div class="container" *ngIf="device">
    <h2>{{device.name | uppercase}} Details</h2>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="device.name" placeholder="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Latitude</mat-label>
      <input matInput [(ngModel)]="device.latitude" placeholder="latitude">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Longituded</mat-label>
      <input matInput [(ngModel)]="device.longitude" placeholder="longitude">
    </mat-form-field>

  </div>

<button mat-stroked-button (click)='save()'>Save</button>
<button mat-stroked-button (click)='onBack()'>Back</button>
</mat-card>
