mat-card {
  padding-left: 50px;
  padding-right: 50px;
}

.container {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10%;
}

label {
  color: white;
}

button {
  border-radius: 12px;
  color: white;
  background-color: rgba(0, 153, 255, 0.5);
  margin: 10px;
}

h2 {
  color: white;
}
